@{
    ViewBag.Title = "Группа абонентов";
}



<h2>Просмотр группы абонентов</h2>

    <fieldset>
        <legend>Поля</legend>
        <p>
            Наименование:
            @Html.Encode(Model.Name)
        </p>
        <h5>Абоненты:</h5>
        @foreach (var item in @Model.Abonents)
        {
            @item.Name
            <br />
        }
    </fieldset>
    <p>
        @Html.ActionLink("Редактировать", "Edit", new { id=Model.ID }) |
        @Html.ActionLink("Назад", "Index")
    </p>