@using Bulletin.Repositories;
@using Bulletin.Models;
@using Bulletin.Common;

<!--
                <select id="bulletin-@(ViewBag.forecast)-territories" data-style="btn-info" multiple title='Укажите территорию...' data-width="50%">
                  <optgroup label="Административные районы">
                   
                                        
                  </optgroup>
                    <optgroup label="Населённые пункты">
                     
                    </optgroup>
                </select>
                <script>

                    $('#bulletin-@(ViewBag.forecast)-territories').selectpicker({
                        style: 'btn-success',
                        size: 6
                    });
                </script>
            

                
                <div role="tabpanel">

                                      <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#cloudiness-region-@(ViewBag.forecast)" aria-controls="cloudiness-region-@(ViewBag.forecast)" role="tab" data-toggle="tab">Облачность</a></li>
                                        <li role="presentation"><a href="#precipitation-region-@(ViewBag.forecast)" aria-controls="precipitation-region-@(ViewBag.forecast)" role="tab" data-toggle="tab">Осадки</a></li>
                                        <li role="presentation"><a href="#condition-region-@(ViewBag.forecast)" aria-controls="condition-region-@(ViewBag.forecast)" role="tab" data-toggle="tab">Явления</a></li>
                                        <li role="presentation"><a href="#wind-region-@(ViewBag.forecast)" aria-controls="wind-region-@(ViewBag.forecast)" role="tab" data-toggle="tab">Ветер</a></li>
                                        <li role="presentation"><a href="#temperature-region-@(ViewBag.forecast)" aria-controls="temperature-region-@(ViewBag.forecast)" role="tab" data-toggle="tab">Температура</a></li>                                       
                                      </ul>

                                      <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane" id="precipitation-region-@(ViewBag.forecast)">                                            
                                            @Html.Partial("Params\\_Precipitation", new ViewDataDictionary { { "forecast", ViewBag.forecast } })
                                        </div>

                                        <div role="tabpanel" class="tab-pane" id="wind-region-@(ViewBag.forecast)">
                                            @Html.Partial("Params\\_Wind", new ViewDataDictionary { { "forecast", ViewBag.forecast } })
                                        </div>

                                        <div role="tabpanel" class="tab-pane" id="temperature-region-@(ViewBag.forecast)">
                                            @Html.Partial("Params\\_Temperature", new ViewDataDictionary { { "forecast", ViewBag.forecast } })
                                        </div>

                                        <div role="tabpanel" class="tab-pane active" id="cloudiness-region-@(ViewBag.forecast)">
                                            @Html.Partial("Params\\_Cloudiness", new ViewDataDictionary { { "forecast", ViewBag.forecast } })
                                        </div>
                                        
                                        <div role="tabpanel" class="tab-pane" id="condition-region-@(ViewBag.forecast)">
                                            @Html.Partial("Params\\_Condition", new ViewDataDictionary { { "forecast", ViewBag.forecast } })
                                        </div>

                                      </div>

                                    </div>      

<script>
    $(document).ready(function () {
        $('.delta').change(function () {
            var region = $(this).attr('region');
            var times = $(this).attr('times');
            var who = $(this).attr('who');

            $('#' + who + '-max-region-@(ViewBag.forecast)-' + region + '-' + times).val(parseInt($(this).val()) + 5);
        });
    });
</script>

<button id="bulletin-@(ViewBag.forecast)-save" class="btn btn-primary btn-lg" type="submit">Сохранить</button>


@Html.Partial("Params\\_Alerts", new ViewDataDictionary { { "forecast", ViewBag.forecast } })

<script>
    function AlertsHide@(ViewBag.forecast)() {
        $('#bulletin-@(ViewBag.forecast)-alerts-territories').hide();
        $("#bulletin-@(ViewBag.forecast)-alerts-cloudiness-day").hide();
        $("#bulletin-@(ViewBag.forecast)-alerts-cloudiness-night").hide();
        $("#bulletin-@(ViewBag.forecast)-alerts-precipitation-day").hide();
        $("#bulletin-@(ViewBag.forecast)-alerts-precipitation-night").hide();
        $("#bulletin-@(ViewBag.forecast)-alerts-condition-day").hide();
        $("#bulletin-@(ViewBag.forecast)-alerts-condition-night").hide();
        $("#bulletin-@(ViewBag.forecast)-alerts-wind-day").hide();
        $("#bulletin-@(ViewBag.forecast)-alerts-wind-night").hide();
        $("#bulletin-@(ViewBag.forecast)-alerts-windmin-day").hide();
        $("#bulletin-@(ViewBag.forecast)-alerts-windmin-night").hide();
        $("#bulletin-@(ViewBag.forecast)-alerts-windmax-day").hide();
        $("#bulletin-@(ViewBag.forecast)-alerts-windmax-night").hide();

        $("#bulletin-@(ViewBag.forecast)-alerts-temperaturemin-day").hide();
        $("#bulletin-@(ViewBag.forecast)-alerts-temperaturemin-night").hide();
        $("#bulletin-@(ViewBag.forecast)-alerts-temperaturemax-day").hide();
        $("#bulletin-@(ViewBag.forecast)-alerts-temperaturemax-night").hide();
    }

    $(document).ready(function () {
        AlertsHide@(ViewBag.forecast)();

        $("#bulletin-@(ViewBag.forecast)-save").click(function () {
            AlertsHide@(ViewBag.forecast)();
            if ($("#bulletin-@(ViewBag.forecast)-territories").val() == null) {
                $("#bulletin-@(ViewBag.forecast)-alerts-territories").show();
            }
            if ($("#bulletin-@(ViewBag.forecast)-cloudiness-night").val() == null) {
                $("#bulletin-@(ViewBag.forecast)-alerts-cloudiness-night").show();
            }
            if ($("#bulletin-@(ViewBag.forecast)-cloudiness-day").val() == null) {
                $("#bulletin-@(ViewBag.forecast)-alerts-cloudiness-day").show();
            }
            if ($("#bulletin-@(ViewBag.forecast)-precipitation-night").val() == null) {
                $("#bulletin-@(ViewBag.forecast)-alerts-precipitation-night").show();
            }
            if ($("#bulletin-@(ViewBag.forecast)-precipitation-day").val() == null) {
                $("#bulletin-@(ViewBag.forecast)-alerts-precipitation-day").show();
            }
            if ($("#bulletin-@(ViewBag.forecast)-condition-night").val() == null) {
                $("#bulletin-@(ViewBag.forecast)-alerts-condition-night").show();
            }
            if ($("#bulletin-@(ViewBag.forecast)-condition-day").val() == null) {
                $("#bulletin-@(ViewBag.forecast)-alerts-condition-day").show();
            }
            if ($("#bulletin-@(ViewBag.forecast)-wind-night").val() == null) {
                $("#bulletin-@(ViewBag.forecast)-alerts-wind-night").show();
            }
            if ($("#bulletin-@(ViewBag.forecast)-wind-day").val() == null) {
                $("#bulletin-@(ViewBag.forecast)-alerts-wind-day").show();
            }
            if ($("#bulletin-@(ViewBag.forecast)-windmin-night").val() == "") {
                $("#bulletin-@(ViewBag.forecast)-alerts-windmin-night").show();
            }
            if ($("#bulletin-@(ViewBag.forecast)-windmin-day").val() == "") {
                $("#bulletin-@(ViewBag.forecast)-alerts-windmin-day").show();
            }
            if ($("#wind-max-region-@(ViewBag.forecast)-0-day").val() == "") {
                $("#bulletin-@(ViewBag.forecast)-alerts-windmax-night").show();
            }
            if ($("#wind-max-region-@(ViewBag.forecast)-0-day").val() == "") {
                $("#bulletin-@(ViewBag.forecast)-alerts-windmax-day").show();
            }
            if ($("#bulletin-@(ViewBag.forecast)-temperaturemin-night").val() == "") {
                $("#bulletin-@(ViewBag.forecast)-alerts-temperaturemin-night").show();
            }
            if ($("#bulletin-@(ViewBag.forecast)-temperaturemin-day").val() == "") {
                $("#bulletin-@(ViewBag.forecast)-alerts-temperaturemin-day").show();
            }
            if ($("#temperature-max-region-@(ViewBag.forecast)-0-night").val() == "") {
                $("#bulletin-@(ViewBag.forecast)-alerts-temperaturemax-night").show();
            }
            if ($("#temperature-max-region-@(ViewBag.forecast)-0-day").val() == "") {
                $("#bulletin-@(ViewBag.forecast)-alerts-temperaturemax-day").show();
            }
        });
    });
</script>   
-->