

@{
    ViewBag.Title = "Создание нового метеорологического бюллетеня";
}

<h2>Создание нового метеорологического бюллетеня</h2>

@Html.ValidationSummary("Create was unsuccessful. Please correct the errors and try again.")

@using (Html.BeginForm("Create", "Bulletins", new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @class = "form-horizontal" }))
{
    
        <legend>Заполните данные:</legend>
          <div id="sandbox-container">
            <div id="bulletin-day" class="input-group date">
            <span class="input-group-addon">Дата: </span>
            <input type="text" value="@ViewBag.DateTime" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
            </div>
            <script>
    $(document).ready(function () {
                $('#bulletin-day').datepicker({
                    todayBtn: true,
                    clearBtn: true,
                    language: "ru",
                    calendarWeeks: true,
                    autoclose: true,
                    todayHighlight: true,
             });
    });
</script>
    
    <hr />
            
    <div role="tabpanel">

            <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#forecast01" aria-controls="forecast01" role="tab" data-toggle="tab">День 1</a></li>
            <li role="presentation"><a href="#forecast02" aria-controls="forecast02" role="tab" data-toggle="tab">День 2</a></li>
            <li role="presentation"><a href="#forecast03" aria-controls="forecast03" role="tab" data-toggle="tab">День 3</a></li>
            <li role="presentation"><a href="#forecast04" aria-controls="forecast04" role="tab" data-toggle="tab">День 4</a></li>
            <li role="presentation"><a href="#forecast05" aria-controls="forecast05" role="tab" data-toggle="tab">День 5</a></li>
            <li role="presentation"><a href="#forecast06" aria-controls="forecast06" role="tab" data-toggle="tab">День 6</a></li>
            <li role="presentation"><a href="#forecast07" aria-controls="forecast07" role="tab" data-toggle="tab">День 7</a></li>
            <li role="presentation"><a href="#forecast08" aria-controls="forecast08" role="tab" data-toggle="tab">День 8</a></li>
            <li role="presentation"><a href="#forecast09" aria-controls="forecast09" role="tab" data-toggle="tab">День 9</a></li>
            <li role="presentation"><a href="#forecast10" aria-controls="forecast10" role="tab" data-toggle="tab">День 10</a></li>
            </ul>

            <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="forecast01">@Html.Partial("_PartialCreateForm", "forecast01")</div>
            <div role="tabpanel" class="tab-pane" id="forecast02">@Html.Partial("_PartialCreateForm", "forecast02")</div>
            <div role="tabpanel" class="tab-pane" id="forecast03">@Html.Partial("_PartialCreateForm", "forecast03")</div>
            <div role="tabpanel" class="tab-pane" id="forecast04">@Html.Partial("_PartialCreateForm", "forecast04")</div>
            <div role="tabpanel" class="tab-pane" id="forecast05">@Html.Partial("_PartialCreateForm", "forecast05")</div>
            <div role="tabpanel" class="tab-pane" id="forecast06">@Html.Partial("_PartialCreateForm", "forecast06")</div>
            <div role="tabpanel" class="tab-pane" id="forecast07">@Html.Partial("_PartialCreateForm", "forecast07")</div>    
            <div role="tabpanel" class="tab-pane" id="forecast08">@Html.Partial("_PartialCreateForm", "forecast08")</div>
            <div role="tabpanel" class="tab-pane" id="forecast09">@Html.Partial("_PartialCreateForm", "forecast09")</div>
            <div role="tabpanel" class="tab-pane" id="forecast10">@Html.Partial("_PartialCreateForm", "forecast10")</div>
            </div>

</div>
    
    
    
    

                                                      

}