@{
    ViewBag.Title = "Метеорологические бюллетени погоды";
}

<h2>Метеорологические бюллетени погоды</h2>

    <p>
        
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Создать новый <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li>@Html.ActionLink("Создать через административные районы", "Create")</li>
            <li>@Html.ActionLink("Создать через осадки", "CreateByParam")</li>
          </ul>
        </div>
                
    </p>

    <table class="table table-bordered table-hover tablesorter">
        <tr>
            <th>#</th>
            <th>
                Наименование:
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) { 
    
        <tr>
            <td>
                @Html.Encode(item.ID)
            </td>
            <td>
                @Html.Encode(item.Name)
            </td>
            <td>            
                @Html.ActionLink("Редактировать", "Edit", new {  id=item.ID }) |
                @Html.ActionLink("Просмотр", "Details", new { id = item.ID }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.ID })
            </td>
        </tr>
    
    } 

    </table>

    


