@{
    ViewBag.Title = "Абонент";
    }


<h2>Просмотр абонента</h2>

    <fieldset>
        <legend>Поля</legend>
        <p>
            Имя:
            @Html.Encode(Model.Name)
        </p>
        <p>
            Email:
            @Html.Encode(Model.Email)
        </p>
        <h5>Группы:</h5>
        @foreach (var item in @Model.Groups)
        {
            @item.Name
            <br />
        }
    </fieldset>
    <p>
        @Html.ActionLink("Редактировать", "Edit", new { id=Model.ID }) |
        @Html.ActionLink("Назад", "Index")
    </p>