@{
    ViewBag.Title = "Территория";
}

<h2>Территория</h2>

@Html.ValidationSummary("Create was unsuccessful. Please correct the errors and try again.")

@using (Html.BeginForm("Edit", "Territory", new { id = @Model.ID },
            FormMethod.Post, new { @class = "form-horizontal" }))
{   
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Наименование:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="Name" id="Name" placeholder="Территория" value="@Model.Name">      
        </div>
    </div>

    <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Административные районы и населённые пункты:</label>
    <div class="col-sm-10">
        <table class="table">
        <tbody>
            @foreach (var region in Model.Regions)
            {
                <tr>
                    <td>                        
                            <input type="checkbox" onclick='handleTerritoryRegionsClick(this);' region="@region.Name" name="Regions" id="@region.ID" value="@region.ID" checked="true">&nbsp;&nbsp;&nbsp; @region.Name
                    </td>                    
                </tr>
            }

            @foreach (var region in ViewBag.Regions)
            {
                <tr>
                    <td>                        
                            <input type="checkbox" onclick='handleTerritoryRegionsClick(this);' region="@region.Name" name="Regions" id="@region.ID" value="@region.ID">&nbsp;&nbsp;&nbsp; @region.Name
                    </td>                    
                </tr>
            }
        </tbody>
        </table>         
    </div>    
    </div>
    
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Изменить</button>
        </div>
  </div>

        <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
    
        <div>
        @Html.ActionLink("Назад", "Index")
    </div>
        </div>
            </div>

    
    
} 

@Html.Partial("_handleTerritoryRegionsClick")